In [3]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql

In [4]:
conn_string = "host=localhost port=5432 dbname=awesome_dev user=alice password=new_password"

In [5]:
#Connecting
conn=psycopg2.connect(conn_string)
print("Connected!")

Connected!

In [6]:
# Create a cursor object
cursor = conn.cursor()

In [7]:
def singularize(plurals):
    return plurals[:-1]

class Data:
    @staticmethod
    def load_all(table):
        sql_command = "SELECT * FROM {};".format(str(table))
        print (sql_command)

        # Load the data
        data = pd.read_sql(sql_command, conn)

        print(data.shape)
        return (data)
    
    def all_with_(table, other_type):
        sql_comand = "SELECT * FROM {1} RIGHT JOIN {2} ON {1}.id == {2}.{3}".format(strl(table), str(belonging_type), str(singularize(table)))
        print (sql_command)

        # Load the data
        data = pd.read_sql(sql_command, conn)

        print(data.shape)
        return (data)

In [9]:
employees = Data.load_all("employees")
employees

SELECT * FROM employees;
(2, 6)

,id,full_name,shop_id,department_id,created_at,updated_at
0,2,popochka,NaN,1,2020-05-18 22:07:25.096683,2020-05-18 22:07:25.096683
1,3,Mr. PeanutButter,2.0,1,2020-05-19 21:17:53.127200,2020-05-24 21:32:38.818216

In [19]:
receipts = Data.load_all("receipts")

SELECT * FROM receipts;
(12, 5)